* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osz-font-smoothing: grayscale;

}

:root {
    font-size: 62.5%;
    
    --white: #ffffff;
    --gray-100:#f5f5f5;
    --gray-300: #8d8d99;
    --gray-900: #202024;
    
    font-family: 'Mulish', sans-serif;
}


body {
    font-size: 1.6rem;
    background-color: white;
}

header,
nav,
nav ul {
    display: flex;
    align-items: center;
    gap: 7.7rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

main {
    background-color: #F5F5F5;
    overflow-y: scroll;
}

span {
    font-weight: 400;
}

input, footer span {
    font-weight: 600;
}

#app {
    display: grid;
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

footer p{
    text-align: center;

    padding: 1.6rem;

    font-weight: 600;
}

nav li {
    display: flex;
    font-size: 1.8rem;
    list-style: none;
    color: var(--gray-300);
}

ul li.active {
    color: var(--gray-900);
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem 1.6rem;

    background-color: #EEEEEE;
    color: #3D3D3D;
    font-size: 1.6rem;
    border-radius: .6rem;
    border: 0;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;

    object-fit: cover;

    border-radius: 50%;
}
